.slider {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 670px;
    height: 480px;
    border-radius: 10px;
    margin-left: 41.5%;

  }
  
  .right-arrow {
    position: relative;
    top: 3%;
    left: 145%;
    font-size: 3rem;
    color:#244ca0;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 49.1%;
    left: 39%;
    font-size: 3rem;
    color: #244ca0;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
    
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }